<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ brewery.name }}</title>
    <style>
        /* Style for the container */
        .container {
            width: 50%;
            margin: 0 auto;
            border: 2px solid #ccc;
            padding: 20px;
            border-radius: 10px;
            background-color: #f9f9f9;
            margin-top: 50px; /* Added margin-top for spacing */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Please Provide Review and Rating</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <p>Name: {{brewery[0].name}}</p>
        <p>Id: {{brewery[0].id}}</p>
        <p>Address: {{ brewery[0].address_1 }}</p>
        <p>Phone: {{ brewery[0].phone }}</p>
        <p>State: {{ brewery[0].state }}</p>
        <p>City: {{ brewery[0].city }}</p>
        
        <h2>Reviews</h2>
        {% if reviews %}
            <ul>
                {% for review in reviews %}
                    <li>Rating: {{ review.rating }}</li>
                    <li>Description: {{ review.description }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No reviews found.</p>
        {% endif %}
        
        <h2>Add a Review</h2>
        <form  method="post">
            <label for="rating">Rating:</label>
            
            <select id="rating" name="rating" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br><br>
            <h8>Note!: 1-Worst to 5-Best</h8>
            <p></p>
            <label for="description">Description:</label><br>
            <textarea id="description" name="description" rows="4" cols="50" required></textarea><br><br>
            <input type="submit" value="Submit Review">
        </form>
        <p>   
        </p>
        <h3>To View Brewery Information Click on Brewery Info</h3>

        <form action="{{ url_for('brewery_info', name=brewery[0].name) }}" method="get">
            <input type="submit" value="Brewery Info">
        </form>
    </div>
</body>
</html>
